// Phone
@mixin respSm {
  @media (max-width: 576px) {
    @content;
  }
}

// Tablette
@mixin respMd {
  @media (min-width: 576px) and (max-width: 1368px) {
    @content;
  }
}

// Big screen
@mixin respLg {
  @media (min-width: 1920px) {
    @content;
  }
}

// How to use :
// @include respSM {} etc....
// 
//
// --> container padding size 0 15px, if is phone padding : 0 20px
// If is a tablette, color : grey
/**
.container {
  padding: 0 15px; // --> Standard Screen

  @include respSm {
    padding: 0 20px; // -6> Phone Screen
  }

  @include respoMd {
    color: grey; // --> Tablette Screen
  }

  @include respLg {
    padding: none; // --> Big screen (>1920px)
  }
}
**/